.btn {
    display: inline-block;
    padding: 12px 0;
    border-radius: 9px;
    border: 1px solid transparent;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    &:hover{
        background: $hover;
        color: $white;
    }
    &:focus{
        background: #CCB990;
        color: $white;
    }
    &-primary {
        background-color: $mainColor;
        color: $white;
        &:hover {
            
        }
    }
    &-secondary{
        
        &:hover{
            
        }
    }
    &-contour{
        background-color: transparent;
        border-color: $mainColor;
        color: $mainColor;
        &:hover{
            
        }
    }
    &-filter{
        display: flex;
        padding: 0 14px;
        align-items: center;
        justify-content: space-between;
        background: $textColor;
        color: $white;
        &:hover{
            background: #383838;
        }
    }
    &-filter__title{
        span{
            &:not(:first-child){
                display: none;
            }
        }
    }
    &-filter__back{
        display: none;
    }
}