.btn {
    display: inline-block;
    padding: 12px 0;
    border-radius: 9px;
    border: 1px solid transparent;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    span {
        &:first-child {
            
        }
        &:not(:first-child) {
            
        }
    }
    &-primary {
        background-color: $mainColor;
        color: $white;
        &:hover {
            
        }
    }
    &-secondary{
        
        &:hover{
            
        }
    }
    &-contour{
        background-color: transparent;
        border-color: $mainColor;
        color: $mainColor;
        &:hover{
            
        }
    }
    &-filter{
        display: flex;
        padding: 0 14px;
        align-items: center;
        justify-content: space-between;
        background: $textColor;
        color: $white;
    }
}