// $text1: #292D33;
// $text2: #51555A;
// $text3: #797C80;
// $text4: #BFBFBF;
// $accent: #1DC4B0;
// $accentDark: #059E8C;
// $accentRed: #E31351;
// $background1: linear-gradient(90deg, #E8FAFA 0%, #DCF2E8 100%);
// $background2: #F5FBFC;
// $background3: #EEF3F7;
// $white2: #F7F7F7;
// $popupBacground: #192224;
$textColor: #272727;
$white: #FFFFFF;
$mainColor: #C4B28A;
$background: #F7FCFA;
$border: #F0EEEB;
$secondText:#999896;
$input: #CCCBC9;
$hover: #BAA983;

.h1 {
  font-size: calc(22px + (28 - 22) * ((100vw - 360px) / (1920 - 360)));
  line-height: calc(28px + (36 - 28) * ((100vw - 360px) / (1920 - 360)));
  
}
.h2 {
  font-weight: 500;
  font-size: calc(18px + (22 - 18) * ((100vw - 360px) / (1920 - 360)));
  line-height: calc(24px + (28 - 24) * ((100vw - 360px) / (1920 - 360)));
}

.h3 {
  font-weight: 500;
  font-size: calc(16px + (18 - 16) * ((100vw - 360px) / (1920 - 360)));
  line-height: calc(20px + (24 - 20) * ((100vw - 360px) / (1920 - 360)));
}

.h4 {
  font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1920 - 360)));
  line-height: calc(14px + (18 - 14) * ((100vw - 360px) / (1920 - 360)));
}
.d-none{
  display: none !important;
}