$text1: #292D33;
$text2: #51555A;
$text3: #797C80;
$text4: #BFBFBF;
$accent: #1DC4B0;
$accentDark: #059E8C;
$accentRed: #E31351;
$background1: linear-gradient(90deg, #E8FAFA 0%, #DCF2E8 100%);
$background2: #F5FBFC;
$background3: #EEF3F7;
$border: #CFDFE6;
$white: #FFFFFF;
$white2: #F7F7F7;
$popupBacground: #192224;


.h1 {
    
}
.h2 {
    
}
.h3 {
    
}
.h5 {
    
}
.h6 {
   
}
.subtitle { 
    
}
.text2 {
   
}
.table-text {
   
}
.mini-text {
    
}
.calendar {
    
}