
html,
body {
  height: 100%;
  font-family: 'Inter';
   font-weight: normal;
   font-style: normal;
  font-size: calc(14px + (15 - 14) * ((100vw - 360px) / (1920 - 360)));
  line-height: calc(18px + (20 - 18) * ((100vw - 360px) / (1920 - 360)));
  overflow-x: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1214px;
  margin: 0 auto;
  padding: 0 15px;
}

.breadcrumbs{
	color: $secondText;
	display: flex;
	margin-top: 8px;
}

.select{
	width: 100%;
	color: $input;
	position: relative;
	.icon{
		font-size: 10px;
		color: $textColor;
	}
	&-header{
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 12px 14px;
		height: 44px;
		border-radius: 9px;
		border: 1px solid $input;
		&.open{
			.icon{
				transform: rotate(180deg);
			}
		}
	}
	&-body{
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		z-index: 2;
		display: none;
		width: 100%;
		border-radius: 9px;
		border: 1px solid $input;
		overflow: hidden;
		background: $white;
	}
	&-item{
		cursor: pointer;
		width: 100%;
		padding: 12px 14px;
		border-radius: 9px;
		&:hover{
			background: $mainColor;
			color: $white;
		}
	}
}

.check{
      display: flex;
      align-items: center;
      color: $textColor;
		cursor: pointer;
		width: fit-content;
		&-Box{
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 16px;
			height: 16px;
			border-radius: 3px;
			background: $white;
			border: 1px solid $input;
			// padding-top: 2px;
			.icon{
				color: $white;
				font-size: 8px;
			}
			&.active{
				background: $mainColor;
				border: none;
			}
		}
		&-label{
			margin-left: 6px;
		}
}