
html,
body {
  height: 100%;
  font-family: 'Inter';
   font-weight: normal;
   font-style: normal;
  font-size: calc(14px + (15 - 14) * ((100vw - 360px) / (1920 - 360)));
  line-height: calc(18px + (20 - 18) * ((100vw - 360px) / (1920 - 360)));
  overflow-x: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1214px;
  margin: 0 auto;
  padding: 0 15px;
}

.breadcrumbs{
	color: $secondText;
	display: flex;
	margin-top: 8px;
}

.select{
	width: 100%;
	.icon{
		font-size: 10px;
	}
	&-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 12px 14px;
		height: 44px;
		border-radius: 9px;
		border: 1px solid $input;
	}
	&-body{
		display: none;
	}
}