.header{
   width: 100%;
   height: 74px;
   background: $textColor;
   .container{
      display: flex;
      align-items: center;
      height: 100%;
   }
   .btn{
      width: 171px;
      margin-left: 24px;
      order: 2;
   }
   .btn-contour{
      margin-left: auto;
      order: 1;
   }
   .icon{
      color: $mainColor;
      font-size: 23px;
      margin-left: 20px;
   }
   .icon{
      display: none;
   }
   .icon-heart{
      margin-left: auto;
   }
   .burger,
   .burger-second{
      display: none;
      width: 34px;
      justify-content: center;
      .icon-burger{
         display: block;
      }
      .icon-close{
         display: none;
      }
      &.open{
         .icon-burger{
            display: none;
         }
         .icon-close{
            display: block;
         }
      }
   }
}
.nav{
   display: flex;
   color: $white;
   &-item{
      cursor: pointer;
      display: inline-block;
      margin-left: 24px;
      &:hover{
         color: $mainColor;
      }
   }
}
.footer{
   background-color: $textColor;
   padding: 32px 0 48px;
   color: $white;
   &-content{
      display: flex;
      justify-content: space-between;
   }
   &-list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 44px;
      grid-row-gap: 35px;
      padding-bottom: 35px;
   }
   &-list__item{
      width: 160px;

   }
   &__copyright{
      margin-top: 60px;
   }
}
.mainBlock{
   padding: 64px 0 44px;
   &-content{
      display: flex;
      justify-content: space-between;
   }
   &__body{
      width:878px; 
   }
   &-footer{
      p{
         padding-bottom: 20px;
      }
      .h2{
         padding: 9px 0;
      }
      .h3{
         padding: 9px 0 16px;
      }
   }
}
.sidebar{
   width: 266px;
   transition: all .5s;
   &.open{
      left: 0;
   }
   &-nav__item{
      padding-bottom: 14px;
      display: flex;
      align-items: center;
   }
   &-nav__link{
      margin-right: 5px;
      &:hover{
         color: $mainColor;
      }
   }
   &-filter__item{
      padding: 14px 0;
      position: relative;
      font-weight: 500;
      &::after{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         width: 100%;
         height: 1px;
         border-radius: 12px;
         background: $border;
      }
      &.sidebar-filter__item-faq {
         &:after {
            display: none;
         }
      }
   }
   &-filter__header{
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon{
         font-size: 10px;
      }
      &.open{
         .icon{
            transform: rotate(180deg);
         }
      }
      &:hover{
         .icon{
            color: $mainColor;
         }
      }
   }
   &-filter__body{
      display: none;
      width: 100%;

   }
   &-choice__list{
      padding-top: 14px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 14px;
   }
   &-choice__item{
      font-weight: 400;
      &:hover{
         color: $mainColor;
      }
      &.active{
         color: $mainColor;
      }
   }
   &__description {
      padding-top: 12px;
      font-weight: 400;
   }
}
.mainBlock-filter{
   padding-top: 46px;
   &__btn{
      display: flex;
      .btn{
         width: 166px;
         height: 42px;
         &.active{
             background: $mainColor;
             .icon{
                 transform: rotate(180deg);
             }
         }
         .icon{
            font-size: 10px;
         }
         margin-right: 6px;
      }
   }
   &__item{
      display: none;
      margin-top: 6px;
      padding: 24px;
      background: $white;
      border-radius: 12px;
      box-shadow: 0px 0px 19px -11px rgba(44, 40, 35, 0.32);
      .btn{
         width: 200px;
         height: 45px;
         margin-right: 15px;
      }
   }
   &__titleMobile{
      display: none;
   }
   &__title{
      margin-bottom: 7px;
   }
   &__subtitle{
      display: inline-block;
      margin-bottom: 24px;
      margin-right: 5px;
      color: $secondText;
      font-size: 14px;
      line-height: 18px;
   }
   &__breadcrumbs{
      display: inline-block;
      color: #999896;
      font-size: 14px;
      line-height: 18px;
   }
}

.mainBlock{
   &-table__title{
      font-weight: 500;
      display: inline-block;
      margin-bottom: 8px;
   }
   &-table__row{
      position: relative;
      width: 100%;
      display: flex;
      padding-bottom: 20px;
      &::after{
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         width: 100%;
         height: 1px;
         background: $border;
         background-repeat: 12px;
      }
      &:not(:first-child){
         padding-top: 20px;
      }
      &:last-child{
         margin-bottom: 20px;
      }
   }
   &-table__column{
      position: relative;
      width: calc(100% / 3);
      &:not(:first-child){
         padding-left: 20px;
         &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
            background: $border;
            background-repeat: 12px;
         }
      }
      &:not(:last-child){
         padding-right: 20px;
      }
      .select{
         &:not(:last-child){
            margin-bottom: 16px;
         }
      }
      .check{
         &:not(:last-child){
            margin-bottom: 20px;
         }
      }
   }
   &-table__list{
      padding-top: 6px;
   }
   &-table__list--grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 2em;
      grid-gap: .5em;
   }
   &-table__item{
      display: block;
      &:not(:last-child){
         margin-bottom: 14px;
      }
   }
   &-card{
      margin: 40px 0 48px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 32px;
      grid-column-gap: 32px;
   }
}

.errorBlock{
   &-content{
      text-align: center;
      padding: 202px 0;
   }
   &-img{
      display: inline-block;
      margin-bottom: 12px;
   }
   &-text{
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 18px;
      color: #000;
   }
   &-link{
      font-size: 14px;
      line-height: 18px;
      color: $mainColor;
   }
   &-employee{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 32px;
      grid-column-gap: 32px;
      padding-bottom: 64px;
   }
}
.settingsBlock{
   width: 328px;
   .entry{
      margin-bottom: 16px;
   }
   .check{
      padding: 2px 0 22px
   }
   .btn{
      width: 200px;
   }
}
.questionnaireBlock{
   .btn{
      margin-bottom: 32px;
      width: 200px;
   }
   &-list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 32px;
      grid-row-gap: 32px;
   }
   .cardEmployee-discr__item{
      display: block;
      margin-bottom: 6px;
   }
}
.replenishBlock{
   &-balance{
      display: flex;
      align-items: center;
      margin-bottom: 16px;
   }
   .h3{
      margin-left: 8px;
   }
   .entry{
      width: 368px;
      margin-bottom: 12px;
   }
   .btn{
      width: 368px;
      margin-bottom: 48px;
   }
   &-table__row{
      width: 100%;
      display: flex;
      position: relative;
      &:not(:last-child){
         &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: $border;
         }
      }
   }
   &-table__title{
      margin-bottom: 12px;
   }
   &-table__header{
      &::after{
         display: none;
      }
      &.replenishBlock-table__row{
         padding: 0 0 4px;
      }
   }
   &-table__row{
      padding: 12px 0;
      &:last-child{
         padding: 12px 0 0;
      }
   }
   &-table__money{
      width: 253px;
      margin-right: 8px;
   }
   &-table__date{
      margin-left: auto;
   }
}