// MAX-WIDTH 1600PX breakpoints START
@media (max-width: 1600px) {
    
}

// MAX-WIDTH 1600PX breakpoints END

// MAX-WIDTH 1399.98PX breakpoints START
@media (max-width: 1399.98px) {
    
}
// MAX-WIDTH 1399.98PX breakpoints END

// MAX-WIDTH 1199.98PX breakpoints START
@media (max-width: 1199.98px) {
   .sidebar {
      padding-right: 15px;
   }   
   .errorBlock-employee {
      grid-template-columns: 1fr 1fr;
      .cardEmployee {
         margin: 0 auto;
         width: calc(328px + (423 - 328) * ((100vw - 360px) / (1199 - 360)));
      }
   }
} 
// MAX-WIDTH 1199.98PX breakpoints END


// MAX-WIDTH 991.98PX breakpoints START
@media (max-width: 991.98px) {
   body{
      padding-top: 74px;
   }

   .header{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      .container{
         justify-content: space-between;
      }
      .btn{
         display: none;
      }
      .icon{
         display: inline-block;
         margin: 0;
      }
      .burger{
         display: flex;
      }
      .burger-second{
         display: flex;
         order: 5;
      }
      .nav{
         display: none;
      }
      .logo{
         order: 3;
      }
      .icon-heart{
         order:4;
      }
      .icon-profile{
         order: 2;
      }
   }
   .burgers-notMain{
      display: block;
   }
   .sidebar{
      display: flex;
      flex-wrap: wrap;
      position: fixed;
      top: 74px;
      left: -400px;
      z-index: 100;
      background: $white;
      width: 360px;
      padding: 24px 16px;
      overflow: auto;
      height: calc(100vh - 74px);
      .nav{
         width: 100%;
         color: #000;
         display: block;
         position: relative;
         margin-bottom: 14px;
         &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: $border;
         }
      }
      .nav-item{
         display: block;
         margin: 0 0 14px 0;
      }
      &-nav__list{
         width: 100%;
         order: 1;
      }
      &-filter__list{
         width: 100%;
         order: 2;
      }
      &-filter__item{
         .icon{
            display: none;
         }
      }
      &-filter__body{
         display: block !important;
      }
   }
   .mainBlock-filter{
      background: #FCFAF7;
      position: fixed;
      right: -400px;
      top: 74px;
      z-index: 100;
      background: $white;
      width: 360px;
      height: calc(100vh - 74px);
      transition: all .5s;
      padding: 20px 16px;
      overflow: auto;
      &.open{
         right: 0;
      }
      &__titleMobile{
         display: block;
      }
      &__title{
      }
      &__btn{
         display: block;
         .btn-filter{
            width: 100%;
            background: $white;
            color: $textColor;
            &.active{
               background: $white;
            }
         }
         .icon{
            transform: rotate(270deg);
         }
         .btn-filter__title{
            span{
               &:not(:first-child){
                  display: inline-block;
               }
            }
         }
      }
      .btn-filter__back{
         display: block;
      }
   }
   .mainBlock-filter__item{
      box-shadow: unset;
      border-radius: 0;
      background: transparent;
      padding: 0;
      .mainBlock-table__row{
         display: block;
         padding-bottom: 0;
         &::after{
            display: none;
         }
         &:not(:first-child){
            padding-top: 10px;
         }
      }
      .mainBlock-table__row{
      }
      .mainBlock-table__row-mobile{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-column-gap: 8px;
         grid-row-gap: 14px;
         padding-bottom: 15px;
         &:not(:first-child){
            padding-top: 0;
         }
      }
      .mainBlock-table__column{
         width: 100%;
         padding: 0;
         &::after{
            display: none;
         }
      }
      .select{
         margin-bottom: 14px;
         &:not(:last-child){
            margin-bottom: 14px;
         }
      }
      .btn{
         margin-bottom: 8px;
         width: 100%;
      }
      .btn-filter__back{
         margin-top: 32px;
      }
      .mainBlock-table__list--grid{
         display: block;
      }
      .mainBlock-table__item{

         &:last-child{
            padding-bottom: 14px;
         }
      }
      .mainBlock-table__column-mobile{
         position: relative;
         margin-bottom: 14px;
         &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: $border;
         }
      }
   }
   .mainBlock {
      padding: 22px 0px 20px;
   }
   .mainBlock-card {
      margin: 24px 0px;
   }
   .footer {
      padding: 28px 0px;
      &-list {
         grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-row-gap: 14px;
         padding-bottom: 14px;
      }
      &__copyright {
         margin-top: 14px;
         display: flex;
         justify-content: center;
      }
      &-content {
         display: block;
      }
      &-logo {
         margin-bottom: 20px;
      }
   }
   .errorBlock-employee {
      grid-template-columns: 1fr 1fr;
      .cardEmployee {
         width: 328px;
      }
   }
   .errorBlock-content {
      padding: 123px 62px;
   }
   .review-card__title-description{
      height: 36px;
   }

   // CREATE 
   .container-create {
      padding: 40px 15px;
      .profile__nav {
         margin: 24px 0px 17px;
      }
      .entry-choice {
         display: block;
      }
   }
   .createInfo {
      .entry-choice__item {
         width: unset;
         &:not(:first-child) {
            margin-top: 8px;
            .entry-choice__title {
               margin-left: unset;
            }
         }
      }
      .check-choice {
         display: block;
         &__item {
            &:not(:last-child) {
               margin-bottom: 8px;
            }
         }
      }
      .mainBlock-table__hasTitle {
         .mainBlock-table__list--grid {
            .mainBlock-table__item {
               width: 250px;
            }
         }
      }
   }
   // CREATE

   .employee{
      &-information{
         display: block;
      }
   }
}
// MAX-WIDTH 991.98PX breakpoints END


// MAX-WIDTH 767.98PX breakpoints START
@media (max-width: 767.98px) {
   .mainBlock-card {
       grid-template-columns: 1fr;
       grid-row-gap: 29px;
   }
   .cardEmployee {
      height: 205px;
      width: calc(328px + (423 - 328) * ((100vw - 360px) / (767 - 360)));
      margin: 0 auto;
   }
   .cardEmployee-photo {
      width: 150px;
      height: 205px;
      margin-right: 14px;
   }
   .counter-employee {
      width: 14px;
      height: 14px;
   }
   .cardEmployee-action__item {
      .counter-employee {
         top: -3px;
         right: -3px;
      }
   }
   .footer {
      padding: 32px 0px 0px;
      &__copyright {
         margin-top: 48px;
         margin-bottom: 14px;
      }
   }
   .errorBlock-employee {
      grid-template-columns: 1fr;
      .cardEmployee {
         width: calc(328px + (423 - 328) * ((100vw - 360px) / (1199 - 360)))
      }
   }
   .container-reduced {
      margin-top: 22px;
      margin-bottom: 40px;
   }
   .questionnaireBlock {
      .btn {
         width: 100%;
         margin: 0 auto;
         margin-top: 24px;
         margin-bottom: 20px;
      }
      &-list {
         grid-template-columns: 1fr;
      }
   }
   .review__content {
      margin-top: 24px;
   }
   .review-card__signature-name {
      display: none;
   }
   .container-create {
      .profile__nav {
         overflow: scroll;
         display: -webkit-box;
      }
      .entry-choice {
         display: flex;
      }
      .entry-choice__item {
         width: 50%;
         &:not(:first-child) {
            .entry-choice__title {
               margin-left: 8px;
            }
         }
      }

   }
   .mainBlock-table {
      &__row {
         display: block;
         &:after {
            display: none;
         }
         &:not(:first-child) {
            padding-top: 0px;
         }
      }
      &__column {
         width: 100%;
         &:not(:last-child),
         &:not(:first-child) {
            padding-left: unset;
         }
         &:not(:first-child){
            &::after {
               display: none;
            }
         }
         &:not(:last-child) {
            padding-right: unset;
         }
      }
      &__list--grid {
         grid-template-columns: 1fr 1fr;
      }
   }
   .createInfo {
      .check-choice {
         display: grid;
      }
      .mainBlock-table__item {
         .entry {
            margin-top: 16px;
         }
      }
      .btn {
         width: 100%;
         margin: unset;
         &:not(:last-child) {
            margin-bottom: 8px;
         }
      }
   }
   .locate {
      display: block;
      flex-wrap: unset;
      &-map {
         width: 100%;
      }
      &-discr {
         width: 100%;
         padding-left: unset;
         padding-top: 14px;
      }
   }
   .download-photo {
      &__item {
         width: 106px;
         height: 106px;
         margin-right: 6px;
      }
      &__discr {
         padding: 8px;
      }
      &__info {
         &:last-child {
            margin-top: 19px;
         }
         a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 55px;
         }
      }
   }
   .control {
      &-text {
         width: unset;
      }
      &-input {
         width: 100%;
      }
   }
   .downloadVideo-input {
      width: 100%;
   }
}
// MAX-WIDTH 767.98PX breakpoints END

// MAX-WIDTH 576.98PX breakpoints START 
@media (max-width: 575.98px) {
    .sidebar{
       padding-bottom: 50px;
       left: -100%;
       width: 100%;
    }
    .mainBlock-filter{
      padding-bottom: 50px;
       right: -100%;
       width: 100%;
    }
   .footer {
      padding: 28px 0px;
      &-list {
         grid-template-columns: 1fr 1fr;
      }
      &__copyright {
         display: none;
      }
   }
   .profile__nav {
      display: none;
   }
   .replenishBlock {
      &-balance {
         margin-top: 24px;
      }
      &-table__money {
         width: calc(104px + (253 - 153) * ((100vw - 360px) / (575 - 360)));
      }
      .entry,
      .btn {
         width: calc(328px + (368 - 328) * ((100vw - 360px) / (575 - 360)));
      }
   }
   .settingsBlock {
      width: 100%;
      .btn {
         width: 100%;
      }
   }
   .review{
      &-card{
         position: relative;
         padding: 4px;
      }
      &-card__title{
         margin-top: 10px;
      }
      &-card__signature{
         position: absolute;
         display: inline-block;
         top: 16px;
         right: 14px;
         z-index: 2;
      } 
   }
   .mainBlock-table__list--grid  {
      grid-template-columns: 1fr;
   }
   .download-photo {
      &__item {
         margin-top: 8px;
      }
      &__list {
         margin: -8px -6px;
         &:after {
            display: none;
         }
      }
   }
  
}
// MAX-WIDTH 576.98PX breakpoints END 