// MAX-WIDTH 1600PX breakpoints START
@media (max-width: 1600px) {
    
}

// MAX-WIDTH 1600PX breakpoints END

// MAX-WIDTH 1399.98PX breakpoints START
@media (max-width: 1399.98px) {
    
}
// MAX-WIDTH 1399.98PX breakpoints END

// MAX-WIDTH 1199.98PX breakpoints START
@media (max-width: 1199.98px) {
    
} 
// MAX-WIDTH 1199.98PX breakpoints END


// MAX-WIDTH 991.98PX breakpoints START
@media (max-width: 991.98px) {
   body{
      padding-top: 74px;
   }

   .header{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      .container{
         justify-content: space-between;
      }
      .btn{
         display: none;
      }
      .icon{
         display: inline-block;
         margin: 0;
      }
      .burger{
         display: flex;
      }
      .burger-second{
         display: flex;
         order: 5;
      }
      .nav{
         display: none;
      }
      .logo{
         order: 3;
      }
      .icon-heart{
         order:4;
      }
      .icon-profile{
         order: 2;
      }
   }
   .sidebar{
      display: flex;
      flex-wrap: wrap;
      position: fixed;
      top: 74px;
      left: -400px;
      z-index: 100;
      background: $white;
      width: 360px;
      padding: 24px 16px;
      overflow: auto;
      height: calc(100vh - 74px);
      .nav{
         width: 100%;
         color: #000;
         display: block;
         position: relative;
         margin-bottom: 14px;
         &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: $border;
         }
      }
      .nav-item{
         display: block;
         margin: 0 0 14px 0;
      }
      &-nav__list{
         width: 100%;
         order: 1;
      }
      &-filter__list{
         width: 100%;
         order: 2;
      }
      &-filter__item{
         .icon{
            display: none;
         }
      }
      &-filter__body{
         display: block !important;
      }
   }
   .mainBlock-filter{
      background: #FCFAF7;
      position: fixed;
      right: -400px;
      top: 74px;
      z-index: 100;
      background: $white;
      width: 360px;
      height: calc(100vh - 74px);
      transition: all .5s;
      padding: 20px 16px;
      &.open{
         right: 0;
      }
      &__titleMobile{
         display: block;
      }
      &__btn{
         display: block;
         .btn-filter{
            width: 100%;
            background: $white;
            color: $textColor;
            &.active{
               background: $white;
            }
         
         }
         .icon{
            transform: rotate(270deg);
         }
      }
   }
    
}
// MAX-WIDTH 991.98PX breakpoints END

// MAX-WIDTH 767.98PX breakpoints START
@media (max-width: 767.98px) {
    
}
// MAX-WIDTH 767.98PX breakpoints END

// MAX-WIDTH 576.98PX breakpoints START 
@media (max-width: 575.98px) {
    
}
// MAX-WIDTH 576.98PX breakpoints END 