.container-reduced {
    max-width: 776px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 64px;
    margin-top: 64px;
}
.review {
    &__content {
        margin-top: 48px;
    }
}
.review-card {
    padding: 24px;
    background: $border;
    border-radius: 12px;
    display: flex;
    &:not(:last-child) {
        margin-bottom: 24px;
    }
    &__img {
        margin-right: 16px;
        border-radius: 12px;
        width: 95px;
        height: 129px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }
    &__description {

    }
    &__title {
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__title-description {
        margin-bottom: 49px;
    }
    &__signature {
        display: flex;
        color: $secondText;
    }
    &__signature-name {
        margin-right: 32px;
    }
    &__signature-date {

    }

}


.profile {
    &__nav {
        margin: 48px 0px 40px;
        display: flex; 
    }
    &__item {
        &:not(:first-child) {
            margin-left: 12px;
        }
    }
    &__link {
        padding: 10px 12px 10px 14px;
    }
}