@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tcpn68');
  src:  url('../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tcpn68#iefix') format('embedded-opentype'),
    url('../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?tcpn68') format('truetype'),
    url('../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.woff?tcpn68') format('woff'),
    url('../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.svg?tcpn68##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-burger-second .path1 {
  &:before {
    content: $icon-burger-second-path1;  
    color: rgb(39, 39, 39);
  }
}
.icon-burger-second .path2 {
  &:before {
    content: $icon-burger-second-path2;  
    margin-left: -1.23828125em;  
    color: rgb(196, 178, 138);
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-burger {
  &:before {
    content: $icon-burger; 
  }
}
.icon-chek {
  &:before {
    content: $icon-chek; 
  }
}
.icon-photo {
  &:before {
    content: $icon-photo; 
  }
}
.icon-message {
  &:before {
    content: $icon-message; 
  }
}
.icon-star-full {
  &:before {
    content: $icon-star-full; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}
.icon-video {
  &:before {
    content: $icon-video; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-car {
  &:before {
    content: $icon-car; 
  }
}
.icon-house {
  &:before {
    content: $icon-house; 
  }
}
.icon-profile {
  &:before {
    content: $icon-profile; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-normal {
  &:before {
    content: $icon-normal; 
  }
}
.icon-nice {
  &:before {
    content: $icon-nice; 
  }
}
.icon-money {
  &:before {
    content: $icon-money; 
  }
}
.icon-triangle-down {
  &:before {
    content: $icon-triangle-down; 
  }
}

