$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-nice: "\e900";
$icon-no: "\e901";
$icon-normal: "\e902";
$icon-profile: "\e903";
$icon-telegtam: "\e904";
$icon-triangle-down: "\e905";
$icon-video: "\e906";
$icon-whatsapp: "\e907";
$icon-apartments: "\e908";
$icon-car: "\e909";
$icon-clouse: "\e90a";
$icon-geo: "\e90b";
$icon-heart: "\e90c";
$icon-money: "\e90d";

