$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-burger-second: "\e908";
$icon-close: "\e90d";
$icon-burger: "\e90c";
$icon-chek: "\e90e";
$icon-photo: "\e90f";
$icon-message: "\e910";
$icon-star-full: "\e911";
$icon-star: "\e912";
$icon-telegram: "\e913";
$icon-video: "\e909";
$icon-whatsapp: "\e90a";
$icon-car: "\e906";
$icon-house: "\e907";
$icon-profile: "\e905";
$icon-heart: "\e904";
$icon-normal: "\e901";
$icon-nice: "\e902";
$icon-money: "\e903";
$icon-triangle-down: "\e900";
$icon-none: "\e90b";

